@import "tailwindcss";

@import '@fontsource-variable/roboto';

@plugin 'tailwindcss-motion';

body {
  font-family: 'Roboto Variable', sans-serif;
}

@theme {
  --breakpoint-sm : 320px;
  --breakpoint-md : 375px;
  --breakpoint-tablet: 768px;
  --breakpoint-lg : 1440px;

  --color-dark-mode:#131316;

}

@custom-variant dark (&:where(.dark, .dark *));

@keyframes pop-over {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to{
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes pop-out {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to{
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes drop-down {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-drop-down {
  animation: drop-down 0.1s ease-in
}

.animate-pop-over {
  animation: pop-over 0.1s ease-in
}

.animate-pop-out {
  animation: pop-out 0.1s ease-in
}