@import "tailwindcss";

@import '@fontsource-variable/roboto';

body {
  font-family: 'Roboto Variable', sans-serif;
}

@theme {
  --breakpoint-md : 375px;
  --breakpoint-tablet: 768px;
  --breakpoint-lg : 1440px;

  --color-dark-mode:#131316;

}

@custom-variant dark (&:where(.dark, .dark *));

@keyframes pop-over {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to{
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes pop-out {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to{
    transform: scale(0);
    opacity: 0;
  }
}

.animate-pop-over {
  animation: pop-over 0.1s ease-in
}

.animate-pop-out {
  animation: pop-out 0.1s ease-in
}