@import "tailwindcss";

@import '@fontsource-variable/roboto';

@plugin 'tailwindcss-motion';

body {
  font-family: 'Roboto Variable', sans-serif;
}

@theme {
  --breakpoint-sm : 320px;
  --breakpoint-md : 375px;
  --breakpoint-tablet: 768px;
  --breakpoint-lg : 1440px;

  

  --color-dark-mode:#000000;
  --color-gradient-1:linear-gradient(180deg,rgba(31, 120, 209, 1) 0%, rgba(100, 98, 150, 1) 100%);
  --color-gradient-hover: linear-gradient(180deg,rgba(255, 255, 255, 0) 0%, rgba(45, 45, 54, 1) 100%);


}

@custom-variant dark (&:where(.dark, .dark *));

@keyframes pop-over {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to{
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes pop-out {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to{
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes drop-down {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-drop-down {
  animation: drop-down 0.1s ease-in
}

.animate-pop-over {
  animation: pop-over 0.1s ease-in
}

.animate-pop-out {
  animation: pop-out 0.1s ease-in
}